<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>


<%= link_to "back to all restaurants", restaurants_path, class: "btn btn-primary"%>


<%= link_to "Add your Review", new_restaurant_review_path(@restaurant), class: "btn btn-danger" %>

<% @restaurant.reviews.each do |review| %>
<p><%= review.content %></p>
<% end %>
